html, body, #app, #app > div, #app > div > div {
	height: 100%;
	margin: 0;
}

.pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.relative { position: relative; }
.absolute { position: absolute; }
.vertical-align {
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
}

/*Branding*/
#Home,
#TopMenu {
	background-image: url("/images/floral-bg-red.jpg");
}
#Home .logo {
	background-image: url("/images/icf-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#Home .icon {
	background-image: url("/images/icon-cornhole.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 134px 70px;
}

#Admin, #Game {background-image: url("/images/floral-bg-gray.jpg");}

/*Home*/
#Home .container {
	position: relative;
}

#Home .logo,
#Home .icon,
#Home .title,
#Home .entry,
#Home form {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
#Home .logo,
#Home .title {
	width: 80%;
}

#Home .logo {
	height: 70px;
}
#Home .icon {
	height: 150px;
}
#Home .title {
	height: 70px;
	text-align: center;
}
#Home .entry {
	height: 200px;
	text-align: center;
	margin-top: 50px;
}
#Home .entry > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#Home button {
	padding: 15px;
	width: 225px;
	border-radius: 40px;
}

/*TopMenu*/

#TopMenu {
	
	.banner-logo {
		width: 20%;
		@media ( max-width: 550px ) {
			width: 50%;
		}
	}

	a {
		display: block;
		padding: 20px;
	}

	@media ( max-width: 550px ) {
		display: block;
	}
}

#TopMenu .logo {
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
}

#TopMenu .icon-hamburger {
	height: 30px;
	width: 30px;
	margin-top: 20px;
	margin-right: 20px;
	float:right;
	display: block;
	cursor: pointer;
}
/* Game */
#Game {
	height: 100%;
	overflow-x: scroll;
}
#Game .container {
	text-align: center;
}

#Game .team1,
#Game .team2 {
	margin-top: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#Game .sub-score,
#Game .add-score {
	cursor: pointer;
}

#Game .buttons {
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#Game .buttons button {
	padding: 15px;
	width: 225px;
	border-radius: 40px;
}

#Game .buttons span {
	margin-top: 15px;
	text-decoration: underline;
	cursor: pointer;
	display: block;
}

/*Admin*/
#Admin .container {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#Admin button {
	padding: 15px;
	width: 225px;
	border-radius: 40px;
}

#Admin .teams {
	margin-top: 25px;
	text-align: left;
}

#Admin .teams span {
	padding-left: 50px;
}

#Admin form {
	margin-top: 25px;
	padding: 15px;
}
